{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:import/typescript",
      "plugin:import/warnings",
      "plugin:prettier/recommended"
  
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint"],
    "rules": {
      "import/no-unresolved": [
        2, 
        { "caseSensitive": false }
     ],
      "no-undef": [2],
      "no-empty": [1],
      "no-empty-function": [1],   
      "react/jsx-uses-vars": "error" ,
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off"
    }
  }
  